@import "./colors.scss";

/* FOOTER START */

.footer {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 15%;
  margin-right: 15%;
  .footer-container {
    display: flex;
    align-items: stretch;
    width: 100%;
    .customer-care,
    .brands,
    .activewear,
    .newsletter {
      .btn {
        background-color: $secondary-color;
        border: none;
        border-radius: 0;
        clear: both;
        margin-left: 17px;
        padding-left: 75px;
        padding-right: 75px;
        display: block;
      }
      .btn:focus {
        outline: none !important;
      }
      .form-group {
        width: 50%;
      }
      .form-control {
      }
      .form-inline {
        margin-left: 0;
      }
      ul {
        padding: 0;
        list-style-type: none;
        li {
          font-family: "Questrial", sans-serif;
          padding-top: 5px;
          padding-bottom: 5px;
          font-weight: 600;
          div {
            font-size: 13px;
            border-bottom: 1px solid #000;
            padding-bottom: 5px;
            margin-bottom: 20px;
            width: 50%;
            font-weight: 600;
          }
        }
        li:hover span {
          color: $secondary-color;
        }
      }
      width: 100%;
    }
  }
}

/* FOOTER END */
