@import "./SCSS/colors.scss";

/* PROMO START */

.pic-big-container {
  margin-top: 50px;
  margin-left: 15%;
  margin-right: 15%;
  h3 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
  }
  .cont {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
  }
  .info-box {
    position: absolute;
    /* width: 30%; */
    /* padding: 30%; */
    padding-left: 50%;
    padding-right: 50%;
    padding-top: 27%;
    padding-bottom: 27%;
    height: 30%;
  }
  .pic {
    padding-left: 5px;
    padding-right: 5px;
    .text-cont {
      top: 40%;
      position: relative;
      p {
        margin-bottom: 0;
      }
    }
  }
  .pic-cont-1 {
    overflow: hidden;
    .pic-1 {
      width: 100%;
      height: 37vw;
      background-size: 100%;
      background-image: url("./img/workout1.jpg");
    }
  }
  .pic-1:hover {
  }
  .pic-cont-2 {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 18vw;
    .pic-2 {
      flex-grow: 4;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("./img/workout2.png");
    }
    .pic-3 {
      flex-grow: 2;
    }
  }
  .pic-cont-3 {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 18vw;
    .pic-4 {
      flex-grow: 4;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("./img/workout3.png");
    }
    .pic-5 {
      flex-grow: 2;
    }
  }
}

/* PROMO END */

/* BLOG START */

.blog-container {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 50px;
  h4 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: $secondary-color;
    margin-bottom: 50px;
  }
  .blog-row-1 {
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    cursor: pointer;
    .row-1-pic-div {
      flex-basis: 0;
      flex-grow: 6;
      position: relative;
      overflow: hidden;
      padding-top: 500px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url("./img/workout4.jpg");
    }
    .row-1-title-div {
      flex-grow: 4;
      flex-basis: 0;
      display: flex;
      align-items: center;
      .text-cont {
        font-family: "Playfair Display", serif;
        width: 80%;
        font-size: 30px;
        font-weight: 620;
        text-align: center;
        position: relative;
      }
    }
  }

  .blog-row-1:hover .row-1-pic-div {
    animation-name: move-left;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
  .blog-row-1:hover .text-cont {
    animation-name: move-up;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
  }
}

/* BLOG END */

.banner-ad {
  display: none;
}

.hamburger {
  font-size: 30px;
  display: none;
  position: relative;
  margin-right: 30px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: $secondary-color;
  box-shadow: none;
  outline: 0 none;
}

/* RESPONSIVE START */

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 900px) {
  .cart-page {
    margin-top: 50px;
    .cart-flex-container {
      flex-direction: column-reverse !important;
      .cartItem-container {
        width: 100% !important;
        margin: 0px !important;
        .cart-info {
          h4 {
            font-size: 20px !important;
          }
          p {
            font-size: 15px !important;
          }
        }
        .cart-remove-btn {
          i {
            width: 24px !important;
            height: 24px !important;
            font-size: 15px !important;
          }
        }
      }
      .total-container {
        width: 100% !important;
        margin: 0px !important;
        margin-bottom: 50px !important;
        ul {
          li {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }

  .footer {
    margin-top: 50px !important;
  }

  .excluding-header .footer .footer-container .newsletter {
    ul {
      width: 100%;
      display: flex;
      justify-content: center;
      li {
        div {
          width: 100%;
          font-family: "Playfair Display", serif;
          font-weight: 700;
          color: #ff707c;
          margin-bottom: 50px;
          font-size: 1.5rem;
          border-bottom: none;
        }
      }
    }
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      .blocker {
        display: none;
      }
      .mx-sm-3 {
        margin: 0;
        flex: 4;
        input {
          width: 100% !important;
        }
      }
      button {
        flex: 1;
      }
    }
  }
  .hamburger {
    display: block;
    margin-top: 5px;
    margin-right: 0px;
  }
  .footer-container {
    .customer-care,
    .activewear,
    .brands {
      display: none;
    }
  }
  .text-2,
  .text-3 {
    top: 13vw !important;
  }
  .text,
  .text-2,
  .text-3 {
    p {
      margin: 0;
    }
  }
  .pic-3,
  .pic-5 {
    display: none;
  }
  .searchbar-container {
    .fa-search {
      font-size: 34px !important;
    }
  }
  .cart-container {
    display: none;
  }
  .logo-container {
    width: auto;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 40px;
      margin: 0;
    }
  }
  nav {
    display: none;
  }
  .product-item-3 {
    display: none;
  }
  .product-item-4 {
    display: none;
  }
  .product-item {
    width: auto !important;
  }
  .blog-container .blog-row-1 .row-1-title-div .text-cont {
    font-size: 25px;
  }

  .product-list-page {
    .product-flexbox {
      margin-top: 0px !important;
      .filters {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-bottom: 50px;
        h4,
        div {
        }
      }
      .basket-btn-wrapper {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px !important;
        button {
          border: none;
        }
        button:hover {
          background-color: $secondary-color;
        }
      }

      .product-list {
        .product-container {
          align-items: unset !important;
          justify-content: unset !important;
          flex-direction: row;
          .product-item {
            flex: 0 50%;
            width: 100% !important;
            margin: 0px !important;
            padding: 15px;
          }
        }
      }
    }
  }

  .ItemDisplay {
    margin-top: 60px !important;

    .magnifier {
      display: flex !important;
      justify-content: center;
      align-items: center;
      .magnifier-image {
        width: 70% !important;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .lineup {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    h4 {
      margin-bottom: 60px !important;
    }
  }

  .cart-item {
    flex-direction: column-reverse !important;
    .cart-img-and-info {
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
      .cart-info {
        h4,
        p {
          text-align: center !important;
        }
      }
    }
  }

  .ItemDisplay {
    .magnifier {
      display: flex !important;
      justify-content: center;
      align-items: center;
      .magnifier-image {
        width: 100% !important;
      }
    }
  }
  .searchbar-container {
    .fa-times {
      top: 10px !important;
      right: 10px !important;
    }
    .input-container {
      width: auto !important;
      margin-left: 15px;
      margin-right: 15px;
    }
    .results-container {
      margin-top: 75px !important;
    }
  }
  .flex-container,
  .pic-big-container,
  .lineup,
  .blog-container,
  .footer {
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  .flex-container {
    margin-top: 0;
  }
  .hamburger {
    display: block;
    margin-right: 0;
  }
  .blocker {
    width: 100% !important;
  }
  .text-cont {
    font-size: 15px !important;
    margin: 0 auto;
  }
  .row-1-pic-div {
    display: none;
  }
  .text,
  .text-2,
  .text-3 {
    display: none;
  }
  .product-container {
    flex-direction: column;
    width: 70%;
    margin: auto;
    .product-item {
      margin-bottom: 15%;
      .product-brand {
        font-size: 14px;
      }
      .product-name {
        font-size: 15px !important;
      }
      .product-price {
        font-size: 14px;
      }
    }
  }

  .footer {
    .footer-container {
      .newsletter {
        button {
          padding-left: 5px !important;
          padding-right: 5px !important;
        }
      }
    }
  }

  .logo-container {
    margin: 0;
    h1 {
      font-size: 30px;
    }
  }
}

/* CSS ANIMATIONS */
@keyframes move-left {
  0% {
    flex-grow: 6;
  }
  100% {
    flex-grow: 7;
  }
}

@keyframes move-up {
  0% {
    color: #000;
    top: 0;
  }
  100% {
    color: $secondary-color;
    top: -30px;
  }
}
@keyframes move-right {
  0% {
    flex-grow: 7;
  }
  100% {
    flex-grow: 6;
  }
}

@keyframes move-down {
  0% {
    color: $secondary-color;
    top: -30px;
  }
  100% {
    color: #000;
    top: 0;
  }
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 112, 124, 0.7);
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover,
.hvr-radial-out:focus,
.hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before,
.hvr-radial-out:focus:before,
.hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

/**
 * ----------------------------------------
 * animation scale-down-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

/*With Simple Caption*/
.caption {
  position: relative;
}
.caption .text {
  position: absolute;
  top: -15vw;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  transition: all 0.5s ease;
  width: 250px;
  height: 150px;
  pointer-events: none;
  p {
    font-weight: 700;
  }
}
.caption .text h3 {
  margin: 0;
  color: white;
}
.caption:hover .text {
  opacity: 1;
}

.pic-cont-1:hover .text {
  opacity: 1;
}

/*With Simple Caption 2*/
.caption-2 {
  position: relative;
}
.caption-2 .text-2 {
  position: absolute;
  top: 10vw;
  left: 19vw;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  transition: all 0.5s ease;
  width: 250px;
  height: 150px;
  pointer-events: none;
  p {
    font-weight: 700;
  }
}
.caption-2 .text-2 h3 {
  margin: 0;
  color: white;
}
.caption-2:hover .text-2 {
  opacity: 1;
}

.pic-2:hover .text-2 {
  opacity: 1;
}

/*With Simple Caption 2*/
.caption-3 {
  position: relative;
}
.caption-3 .text-3 {
  position: absolute;
  top: 10vw;
  left: 18vw;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  transition: all 0.5s ease;
  width: 250px;
  height: 150px;
  pointer-events: none;
  p {
    font-weight: 700;
  }
}
.caption-3 .text-3 h3 {
  margin: 0;
  color: white;
}
.caption-3:hover .text-3 {
  opacity: 1;
}

.pic-4:hover .text-3 {
  opacity: 1;
}

.info-box-anim {
  animation-fill-mode: forwards;
  animation-name: zoomOut;
  animation-duration: 0.8s;
}
.info-box-anim:hover {
  animation-fill-mode: forwards;
  animation-name: zoomIn;
  animation-duration: 0.8s;
}
.pic-anim {
  animation-fill-mode: forwards;
  animation-name: scale-down-center;
  animation-duration: 0.6s;
  cursor: pointer;
}
.pic-anim:hover {
  animation-fill-mode: forwards;
  animation-name: scale-up-center;
  animation-duration: 0.6s;
}

/* CSS ANIMATIONS END */
