/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 112, 124, 0.7);
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover,
.hvr-radial-out:focus,
.hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before,
.hvr-radial-out:focus:before,
.hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

/**
 * ----------------------------------------
 * animation scale-down-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}
.info-box-anim {
  animation-fill-mode: forwards;
  animation-name: zoomOut;
  animation-duration: 0.8s;
}
.info-box-anim:hover {
  animation-fill-mode: forwards;
  animation-name: zoomIn;
  animation-duration: 0.8s;
}
.pic-anim {
  animation-fill-mode: forwards;
  animation-name: scale-down-center;
  animation-duration: 0.6s;
}
.pic-anim:hover {
  animation-fill-mode: forwards;
  animation-name: scale-up-center;
  animation-duration: 0.6s;
}

.flex-container {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

a {
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #000;
}
.cart-container {
  text-align: center;
  .fa-shopping-cart {
    font-size: 40px;
    top: 24px;
    position: relative;
  }
}

.searchbar-container,
.logo-container,
.cart-container {
  width: 30%;
  h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 550;
  }
  .fa-search {
    top: 36px;
    left: 4vw;
    position: relative;
    font-size: 25px;
  }
  input {
    width: 50%;
    margin: 0 AUTO;
    border: none;
    border-bottom: 1px solid black;
    .form-control {
      border-radius: 0 !important;
    }
  }
}

.banner-ad {
  margin-top: 200px;
  width: 100%;
  background-color: black;
  p {
    color: white;
  }
}

nav {
  margin-left: 25%;
  margin-right: 25%;
  ul {
    list-style-type: none;
    justify-content: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
  }
  li {
    font-weight: 550;
    font-family: 'Questrial', sans-serif;
  }
}

.pic-big-container {
  margin-top: 50px;
  margin-left: 15%;
  margin-right: 15%;
  h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
  }
  .cont {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
  }
  .info-box {
    position: absolute;
    /* width: 30%; */
    /* padding: 30%; */
    padding-left: 50%;
    padding-right: 50%;
    padding-top: 27%;
    padding-bottom: 27%;
    height: 30%;
  }
  .pic {
    padding-left: 5px;
    padding-right: 5px;
    .text-cont {
      top: 40%;
      position: relative;
      p {
        margin-bottom: 0;
      }
    }
  }
  .pic-cont-1 {
    overflow: hidden;
    .pic-1 {
      width: 100%;
      height: 37vw;
      background-size: 100%;
      background-image: url('https://njorunactive.com/uploads/images/Desert-Bloom/W0A9452.jpg');
    }
  }
  .pic-1:hover {
  }
  .pic-cont-2 {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 18vw;
    .pic-2 {
      flex-grow: 4;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('https://njorunactive.com/uploads/images/United/F9wW32TECrCM0nNiLfnw_Tully-Lou_Campaign_030517_10513_00632.jpg');
    }
    .pic-3 {
      flex-grow: 2;
    }
  }
  .pic-cont-3 {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 18vw;
    .pic-4 {
      flex-grow: 4;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('https://njorunactive.com/uploads/images/First-Base-2017/JPP_3012-copy.jpg');
    }
    .pic-5 {
      flex-grow: 2;
    }
  }
}
.product-container {
  display: flex;
  align-items: stretch;
  .product-item {
    font-family: 'Questrial', sans-serif;
    width: 25%;
    img {
      width: 100%;
    }
    .product-brand {
      font-size: 15px;
    }
    .product-name {
      font-size: 20px;
      font-weight: 700;
    }
    .product-price {
      font-weight: 500;
      .sale-price {
        color: #ff707c;
      }
      .original-price {
        text-decoration: line-through;
      }
    }
  }
}
.lineup {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 15%;
  margin-right: 15%;
  h4 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #ff707c;
    margin-bottom: 100px;
  }
}
.blog-container {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 50px;
  h4 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #ff707c;
    margin-bottom: 50px;
  }
  .blog-row-1 {
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    .row-1-pic-div {
      flex-basis: 0;
      flex-grow: 6;
      position: relative;
      overflow: hidden;
      padding-top: 500px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url('https://njorunactive.com/uploads/images/Blog/_1000x500_crop_center-center_90/19955502_133663627219651_404141471772442624_n.jpg');
    }
    .row-1-title-div {
      flex-grow: 4;
      flex-basis: 0;
      display: flex;
      align-items: center;
      .text-cont {
        font-family: 'Playfair Display', serif;
        width: 40%;
        font-size: 30px;
        font-weight: 620;
        text-align: center;
      }
    }
  }
}
.footer {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 15%;
  margin-right: 15%;
  .footer-container {
    display: flex;
    align-items: stretch;
    width: 100%;
    .customer-care,
    .brands,
    .activewear,
    .newsletter {
      .btn {
        background-color: #ff707c;
        border: none;
        border-radius: 0;
      }
      .form-group {
        width: 50%;
      }
      .form-control {
      }
      .form-inline {
        margin-left: 8%;
      }
      ul {
        list-style-type: none;
        li {
          font-family: 'Questrial', sans-serif;
          padding-top: 5px;
          padding-bottom: 5px;
          font-weight: 600;
          div {
            font-size: 13px;
            border-bottom: 1px solid #000;
            padding-bottom: 5px;
            margin-bottom: 20px;
            width: 50%;
            font-weight: 600;
          }
        }
      }
      width: 100%;
    }
  }
}
